body {  /* a=0 b=0 c=1 -> specificity =   1  */
    display: grid;
    grid: "h h h"
          "m m f"  
          "a a a";
    grid-template-columns: auto 1fr 20%;
    grid-column: inherit;
    background: cornflowerblue;
}

header {    /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: h;
    min-width: 12em;
}

main {  /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: m;
    background: royalblue;
    border: 0.188em solid white;
    margin-bottom: 0.375em;
    margin-right: 0.375em;
}

address {   /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
    color: dodgerblue;
    background: royalblue;
    border: 0.188em solid white;
}

footer {    /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: f;
    min-width: 12em;
}

a {     /* a=0 b=0 c=1 -> specificity =   1  */
    color: white;
}

h1 {    /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    border: 0.1em solid white;
    background: royalblue;
    color: white; 
}

p {     /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
    
}

footer p {      /* a=0 b=0 c=2 -> specificity =   2  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    text-align: center;
    color: white; 
    border: 0.188em solid white;
    background: royalblue;
}

ul li {     /* a=0 b=0 c=2 -> specificity =   2  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    list-style-type: disc;
    color: white;
}

legend {    /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white; 
}

label {     /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

fieldset  {     /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

figcaption {    /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

img {   /* a=0 b=0 c=1 -> specificity =   1  */
    border: 0.188em solid white;
}