body {  /* a=0 b=0 c=1 -> specificity =   1  */
    display: grid;
    grid: "h h h"
          "m m m"
          "a a f";
    grid-template-columns: auto 1fr 20%;
    grid-column: inherit;
    background: cornflowerblue;
}

header {   /* a=0 b=0 c=1 -> specificity =   1  */ 
    grid-area: h;
    min-width: 12em;
}

main {  /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: m;
    background: royalblue;
    margin-bottom: 0.375em;
    border: 0.188em solid white;
}

address {   /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
    color: dodgerblue;
    background: royalblue;
    border: 0.188em solid white;
    grid-area: a;
}

footer {    /* a=0 b=0 c=1 -> specificity =   1  */
    grid-area: f;
    min-width: 12em;
}

figure {    /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

h1 {    /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    border: 0.1em solid white;
    background: royalblue;
    color: white; 
}

a {     /* a=0 b=0 c=1 -> specificity =   1  */
    color: white;
}

p {     /* a=0 b=0 c=1 -> specificity =   1  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

footer p {  /* a=0 b=0 c=2 -> specificity =   2  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white;
    border: 0.188em solid white;
    background: royalblue;
}