body{
    display: grid;
    grid: "h h h"
          "m m m"
          "a a a";
    grid-template-columns: auto 1fr 20%;
    grid-column: inherit;
    background: cornflowerblue;
}

header {
    grid-area: h;
    min-width: 12em;
}

main {
    grid-area: m;
    background: royalblue;
}

address {
    grid-area: a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
    color: dodgerblue;
    background: royalblue;
    border: 0.188em solid white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    border: 0.1em solid white;
    background: royalblue;
    color: white; 
}

table {
    border-collapse: collapse;
    margin-bottom: 0.375em;
}

table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white;
    border: 0.188em solid white
}

table th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
    color: white;
    border: 0.1em solid white
}

table tr {
    border: 0.188em solid white
}

a {
    color: white;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white; 
    border: 0.188em solid white;
    background: royalblue;
}

caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white;
}

figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}