body{
    display: grid;
    grid: "h h h"
          "m m f"  
          "a a a";
    grid-template-columns: auto 1fr 20%;
    grid-column: inherit;
    background: cornflowerblue;
}

header {
    grid-area: h;
    min-width: 12em;
}

main {
    grid-area: m;
    background: royalblue;
    border: 3px solid white;
    margin-bottom: 6px;
    margin-right: 6px;
}

address {
    grid-area: a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
    color: dodgerblue;
    background: royalblue;
    border: 3px solid white;
}

footer {
    grid-area: f;
    min-width: 12em;
}

a {
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    border: 3px solid white;
    background: royalblue;
    color: white; 
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
    
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white; 
    border: 3px solid white;
    background: royalblue;
}

ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    list-style-type: disc;
    color: white;
}

legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: medium;
    color: white; 
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

fieldset  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    color: white; 
}

img {
    border: 3px solid white;
}